<div id="page-content">
  <div class="content-header">
    <div class="header-section">
      <% if current_user.role == :admin %>
        <div class="row">
          <div class="col-md-6">
            <label>Name</label>
            <input type="text" name="" class="form-control" />
          </div>
          <div class="col-md-6">
            <label>Name</label>
            <input type="text" name="" class="form-control" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Name</label>
            <input type="text" name="" class="form-control" />
          </div>
          <div class="col-md-6">
            <label>Name</label>
            <input type="text" name="" class="form-control" />
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-2">
            <input type="submit" value="Search" class="btn btn-default" />
          </div>
        </div>  
      <% else %>

      <% end %>  
    </div>
  </div>
  <ul class="breadcrumb breadcrumb-top">
    <li>Dashboard</li>
    <li><a href="/"><%= current_user.role == :admin ? "Projects" : "" %></a></li>
  </ul>
  <%= render 'layouts/messages' %>
  <div class="block">
    <div class="block-title">
      <h2>Projects</h2>
    </div>
    <p>...</p>
  </div>
</div>
  	