<header class="navbar navbar-default">
  <ul class="nav navbar-nav-custom">
    <li>
      <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');this.blur();">
        <i class="fa fa-bars fa-fw"></i>
      </a>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
        <i class="gi gi-settings"></i>
      </a>
      <ul class="dropdown-menu dropdown-custom dropdown-options">
        <li class="dropdown-header text-center">Header Style</li>
        <li>
          <div class="btn-group btn-group-justified btn-group-sm">
            <a href="javascript:void(0)" class="btn btn-primary" id="options-header-default">Light</a>
            <a href="javascript:void(0)" class="btn btn-primary" id="options-header-inverse">Dark</a>
          </div>
        </li>
        <li class="dropdown-header text-center">Page Style</li>
        <li>
          <div class="btn-group btn-group-justified btn-group-sm">
            <a href="javascript:void(0)" class="btn btn-primary" id="options-main-style">Default</a>
            <a href="javascript:void(0)" class="btn btn-primary" id="options-main-style-alt">Alternative</a>
          </div>
        </li>
      </ul>
    </li>
  </ul>
  <form action="index.html" method="post" class="navbar-form-custom">
    <div class="form-group">
      <input type="text" id="top-search" name="top-search" class="form-control" placeholder="Search..">
    </div>
  </form>
  <ul class="nav navbar-nav-custom pull-right">
    <!-- <li>
      <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar-alt', 'toggle-other');this.blur();">
        <i class="gi gi-share_alt"></i>
        <span class="label label-primary label-indicator animation-floating">4</span>
      </a>
    </li> -->
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
        <img src="/assets/placeholders/avatars/avatar.jpg" alt="avatar"> <i class="fa fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
        <li class="dropdown-header text-center">Accout</li>
        <li>
          <%= link_to('<i class="gi gi-exit"></i> &nbsp; Logout'.html_safe, destroy_user_session_path, :method => :delete) %>
        </li>
      </ul>
    </li>
  </ul>
</header>